
@{
    ViewBag.Title = "GetDados";
}




    <div class="col-md-10 col-md-offset-1" style="margin-top:60px;">
        <div class="well">
            <input id="btnLoadEmployees" class="btn btn-success"
                   type="button" value="Carregar Lista de produtos " />
            <span id="spanUsername" class="text-muted"></span>

            <input id="btnLogoff" class="btn btn-success pull-right"
                   type="button" value="Log Off" />
        </div>
        <div id="divData" class="well hidden table-responsive">
            <table class="table table-bordered table-hover  table-striped" id="tblData">
                <thead> 
                    <tr class="danger">
                        <td>ID</td>
                        <td>Produto</td>
                        <td>Fabricante</td>
                        <td>Preço Unitarios</td>
                        <td>Unidades em Estoque</td>
                    </tr>
                </thead>
                <tbody id="tblBody"></tbody>
            </table>
        </div>
        <div class="modal fade" tabindex="-1" id="errorModal"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4 class="modal-title">Sessão Expirou</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <h2 class="modal-title">Saia desta página para logar novamente</h2>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"
                                data-dismiss="modal">
                            Fechar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="divError" class="alert alert-danger collapse">
            <a id="linkClose" href="#" class="close">&times;</a>
            <div id="divErrorText"></div>
        </div>
    </div>



    <script type="text/javascript">
        $(document).ready(function () {
            if (sessionStorage.getItem('accessToken') == null) {
                window.location.href = "Login.html";
            }

            $('#linkClose').click(function () {
                $('#divError').hide('fade');
            });

            $('#errorModal').on('hidden.bs.modal', function () {
                window.location.href = "Login.html";
            });

            $('#btnLogoff').click(function () {
                sessionStorage.removeItem('accessToken');
                window.location.href = "Login.html";
            });

            $('#spanUsername').text('Olá  ' + localStorage.getItem('userName'));

            $('#btnLoadEmployees').click(function () {
                $.ajax({
                    url: '/api/employees',
                    method: 'GET',
                    headers: {
                        'Authorization': 'Bearer '
                            + sessionStorage.getItem("accessToken")
                    },
                    success: function (data) {


                        $('#divData').removeClass('hidden');
                        $('#tblBody').empty();
                        $.each(data, function (index, value) {
                            var row = $('<tr><td>' + value.ID + '</td><td>'
                                + value.Produto + '</td><td>'
                                + value.Fabricante + '</td><td>'
                                + value.Preco + '</td><td>'
                                + value.Estoque + '</td></tr>');
                            $('#tblData').append(row);
                        });
                    },
                    error: function (jQXHR) {
                        // If status code is 401, access token expired, so
                        // redirect the user to the login page
                        if (jQXHR.status == "401") {
                            $('#errorModal').modal('show');
                        }
                        else {
                            $('#divErrorText').text(jqXHR.responseText);
                            $('#divError').show('fade');
                        }
                    }
                });
            });
        });
    </script>


