    

<div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2>Logar</h2>
            <p class="text-primary">Se você possui Usuario e Senha, Use o botão abaixo 
            para acessar a área reservado e segurada seu conteudo por via token.</p>
            <p><a class="btn btn-primary" href="#/login" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Assinar</h2>
            <p class="text-primary">Use o botão abaixo para criar se Usuario e assim acessar<br /> o conteudo assegurado por token.</p>
            <p><a class="btn btn-primary" href="#/signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
